@use '../../styles/mixin';

.Nav {
  @include mixin.flex-spacearound;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border-radius: 1em 1em 0em 0em;
  height: 4em;

  .logo {
    @include mixin.flex-spacearound;
    width: auto;

    img {
      width: 2.5em;
      height: 2.5em;
      border-radius: 5em;

    }

    strong {
      margin: 0 0.5em;
      font-size: x-large;
      font-weight: 700
    }
  }

  // .ul {
  //   @include mixin.flex-spacearound;
  //   width: 50%;

  li {
    color: rgba(45, 116, 209, 1.8);
    display: inline;
    margin: 0;

    a {
      color: #002;
      text-decoration: none;
    }

    // }

  }

  .Nav-profile {
    // margin-top: -0.05em;
    @include mixin.flex-spacearound;
    width: 16% ;
    gap: 10%;
    // flex-shrink:2em;
    // background-color: tr;

    img {
      width: 2em;
      height: 2em;
      border-radius: 5em;

    }
  }


}