.Form{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background: white;
  width: 100%;
  height: auto;
  margin-top: 0em;
  padding: 2em 1em;
  border: 0.1em solid #aaa;
  
}