.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background: white;
  border-radius: 2rem;
  width: auto;
  height: auto;
  margin-top: 0em;
  margin-bottom: 02em;
  padding: 1em;
  padding-bottom: 2.5em;
  border: 0.1em solid #aaa;
  box-shadow: 0 0 0.4em rgba(89, 93, 99, 0.5);

  h3 {
    margin: 0.5em;
  }

  .FormationImage {
    content: "";
    width: 28em;
    height: 17em;
    background-image: url('../../../assets/images/back1.jpg');
    background-repeat: no-repeat;
    background-size: contain;


  }

  .FormationInfo {
    display: flex;
    width: 28em;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 1em;
    padding-left: 1em;

    li {
      line-height: 2em;
      display: flex;
      justify-content: flex-start;
      // align-items: center;

      .icon {
        margin: 0 0.5em;
        width: 1.5em;
        height: 1.5em;
      }
    }
  }

  button {
    font-size: 1.2em;
    width: fit-content;
    padding: 0.1em 1.5em;

  }
}