.Button-Nav {
  margin: 0 1.1em;
  background: #0d70cc;
  color: white;
  padding: 0.25em 0.5em;
  width: 10em;
  // min-width: auto;
  border: none;
  border-radius: 0.5em;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;



  &:hover {
    background: #5d9fe0;
  }
}