.users-container {
  padding: 4em;
  background: #f9f9f9;
  min-height: 100vh;

  h2 {
    margin-bottom: 2em;
    font-size: 2em;
    color: #333;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 0.8em;
    overflow: hidden;

    th, td {
      padding: 1em 1em;
      border-bottom: 1px solid #eee;
      text-align: left;
    }

    th {
      background: #6c5ce7;
      color: white;
    }

    tr:hover {
      background: red;
    }
  }
}
