:root {
  // font-family:  sans-serif;;
  // font-family: 'Poppins', 'Montserrat', 'Nunito', 'Lato', sans-serif;;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(49, 44, 44);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --login-bg-img: url('./assets/background-image.jpg');
  --bg: #3889da;
  
}
