@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-spacearound {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-nospaceabove {
  display: flex;
  justify-content: space-between;
}