@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-spaceevenly {
  display: flex;
  align-items: center;
  // justify-content: space-evenly;
}

@mixin flex-spacearound {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-nospaceabove {
  display: flex;
  justify-content: space-between;
}

// @mixin flex-