@use 'variables';
@use 'mixin';

body {
  font-family: variables.$font-stack;
  margin: 0;
  padding: 0;

  .container {
    @include mixin.flex-center;
    height: 100vh;
    background: variables.$primary-color;
  }
}